body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.pokemon-info{
    padding: 0 9% 0 7%;
    width: 100%;
    height: 100%;
}

.pokemon-info .container-logo-pokemon{
    max-width: 300px;
    width: 40%;
    height: fit-content;
}

.pokemon-info .logo-pokemon{
    width: 100%;
    height: 100%;
}

.pokemon-info .container-pokemon-values{
    display: flex;
    flex-wrap: wrap;
}

.pokemon-info .pokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    position: relative;
    bottom: 29vw;
    z-index: 0;
    background-color: transparent;
    padding: 14px;
    margin-bottom: -190px;
}

@media only screen and (min-width: 850px){
    .pokemon-info .pokemon{
        bottom: 18rem;
    }

    .pokemon-info .flex-container{
        margin-bottom: 5vw;
    }
}

@media only screen and (max-width: 1200px){
    .pokemon-info .flex-container{
        margin-top: 4vw;
    }
}

@media only screen and (max-width: 470px){
    .pokemon-info .pokemon {
        margin-bottom: -38vw;
    }
}

.pokemon-info .pokemon::after{
    content: '';
    background-color: var(--bg-color-white);
    width: 83vw;
    height: 55%;
    top: 50%;
    left: 0;
    position: absolute;
    z-index: -1;
}

.pokemon-info .container-pokemon-sprite{
    width: 30%;
    aspect-ratio: 1/1;
    position: relative;
    top: 7rem;

}
.pokemon-info .pokemon-sprite{
    width: 100%;
}

.pokemon-info .row{
    display: flex;
    justify-content: space-between;
}

.pokemon-info .column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pokemon-info .statitics{
    width: 40vw;
    position: relative;
    top: 25px;
}

.pokemon-info .statitics-value{
    position: relative;
    top: 30px;
}

.pokemon-info .container-id-pokemon{
    position: relative;
    top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemon-info .font-value{
    font: 700 24px var(--font-family-lato);
}

.pokemon-info .font-statitics{
    font: 400 16px var(--font-family-lato);
    color: rgba(0,0,0,.6);
}

.pokemon-info .br{
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,.2);
}

.pokemon-info .left{
    position: relative;
    right: 100%;
    top: 82px;
}
.pokemon-info .right{
    position: relative;
    bottom: 48px;
    left: 100%;
}

.flex-center{
    display:flex;
    justify-content: center;
    align-items: center;
}

.pokemon-info .border{
    border: 1px solid rgba(0,0,0,.2);
    width: fit-content;
    height: 20%;
}

.pokemon-info .pokemon footer{
    width: 102%;
    position: relative;
    top: 37px;
}

.pokemon-info .pokemon-name::first-letter{
    text-transform: uppercase;
    font: 700 28px var(--font-family-lato);
    margin-bottom: 0;
}

.pokemon-info .pokemon-id{
    font: 700 14px sans-serif;
}

.pokemon-info .flex-container{
    width: 83vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

@media only screen and (max-width: 800px){

    .pokemon-info .section {
        width: 80vw !important;
    }

    .pokemon-info .flex-container{
        margin-top: 7vw;
        width: 100%;
    }

    .pokemon-info .pokemon::after {
        width: 100%;
    }
}

@media only screen and (max-width: 670px){
    .pokemon-info .flex-container{
        margin-top: 20vw;
    }
}

.pokemon-info .section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 100px;
    background-color: white;
    padding: 14px;
}

.pokemon-info .section-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pokemon-info .header-br{
    background-color: rgba(0,0,0,.2);
    height: 1px;
    width: 120px;
}

.pokemon-info .section-title{
    margin: 0.5rem 1rem;
    font: 700 28px var(--font-family-lato);
}

.pokemon-info .container-body{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 2rem;
}

.pokemon-info .container-type{
    margin: 10px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-info .type-name{
    font: 700 14px sans-serif;
    color: rgba(0,0,0,.6);
}

.pokemon-info .margin-top{
    margin-top: 25px;
}

.pokemon-info .width-abilities{
    width: 80vw;
    height: 300px;
    position: relative;
    z-index: 1; 
}

.pokemon-info .width-br-abilities{
    width: 100%;
}

.pokemon-info .container-body-vertical{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1200px) {
    .pokemon-info .movements .container-body-vertical{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    }
}

.pokemon-info .flex-article{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pokemon-info .container-ability{
    background-color: rgb(212, 211, 211);
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    margin: 0 5vw;
}

.pokemon-info .name-ability{
    font: 700 14px sans-serif;
    color: rgba(0,0,0,.6);
}

.pokemon-info .container-ability h3{
    margin: 0;
}

.pokemon-info .bar-stats{
    background-color: rgb(152, 152, 152);
    width: 40vw;
    height: 20px;
    border-radius: 7px;
    margin-right: 4vw;
}

.pokemon-info .xbar{
    background-color: goldenrod;
    max-width: 40vw;
    min-width: 0;
    height: 100%;
    position: relative;
    border-radius: inherit;
    top: -13px;
}

.pokemon-info .stats-amount{
    font: 700 13px sans-serif;
}

.pokemon-info .container-pokemons-vertical-flex{
    display: flex;
    flex-direction: column;
    position: relative;
    right: -1.5vw;
    margin-top: 58px;
}

@media only screen and (min-width:1200px){
    .pokemon-info .container-pokemons-vertical-flex{
        right: 0;
    }
}

.pokemon-info .button-encounters{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 83vw;
}

.pokemon-info .container-encounter-img{
    margin-right: 5px;
    width: 20px;
    filter: opacity(0.5);
}

.pokemon-info .encounter-img{
    width: 100%;
    height: 100%;
}

.pokemon-info .title-encounter{
    margin-left: 5px;
    font: 700 14px var(--font-family-lato);
    color: rgba(0,0,0,.6);
}

.pokemon-info .movements{
    width: 83vw;
    background-color: white;
    margin-bottom: 70px;
    padding: 0 0 70px 0;
}

.pokemon-info .width-br-movements{
    width: 150%;
    position: relative;
    right: 25%;
}

.pokemon-info .center{
    margin: auto;
}

.pokemon-info .text-shadow{
    text-shadow: 1px 2px 2px rgb(60 60 60 / 40%);
}

.pokemon-info .color-white{
    color: white;
}

.pokemon-info .move-name{
    font: 700 14px sans-serif;
    color: rgba(0,0,0,.6);
}


@media only screen and (min-width: 1200px){

    .pokemon-info{
        padding: 0 0 0 10vw;
    }

    .pokemon-info .pokemon {
        width: 830px;
    }

    .pokemon-info .pokemon::after{
        width: 840px;
    }

    .pokemon-info .container-pokemon-sprite{
        width: 300px;
    }

    .pokemon-info .statitics{
        width: 400px;
    }

    .pokemon-info .flex-container{
        width: 840px;
    }

    .pokemon-info .section{
        width: 380px;
    }

    .pokemon-info .width-abilities{
        width: 815px;
    }

    .pokemon-info .container-pokemons-vertical-flex {
        margin: 0.5rem 0;
    }

    .pokemon-info .button-encounters{
        width: auto;
    }

    .pokemon-info .movements{
        width: 350px;
    }

    .container-pokemon-values {
        flex-wrap: nowrap !important;
    }
}

